/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Variable  Define */
:root {
  /* ! Background Color */

  --primary-color: #004caa;
  --secondary-color: #fc5185;
  --bg-light-blue: #3672bc;
  --bg-dark: #666;
  --bg-white: #fff;

  /*! Text Style  */

  --primary-font: "Roboto Slab", serif;
  --secondary-font: "Josefin Sans", sans-serif;
  --primary-text: #004caa;
  --secondary-text: #fc5185;
  --text-white: #fff;
  --text-gray: #666;
  --text-black: #222;
  --text-light: #ddd;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-white);
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-light-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.wrapper {
  padding: 6.25rem 0;
}

.main-btn {
  display: inline-block;
  border: 0.0625rem solid var(--bg-white);
  color: var(--text-white);
  text-align: center;
  padding: 0.75rem 1.375rem;
  font-size: 1rem;
  background: transparent;
  text-transform: capitalize;
  border-radius: 0.1875rem;
  transition: all 0.3s ease-in-out;
}

.main-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
}

.fill-btn {
  background-color: var(--secondary-color);
  color: var(--text-white);
  border-color: var(--secondary-color);
}

.fill-btn:hover {
  background-color: transparent;
  /* border-color: var(--secondary-color); */
  color: var(--secondary-color);
  /* background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--text-black); */
}

h1 {
  font-size: 3.875rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: var(--text-white);
  font-family: var(--secondary-font);
}

h2 {
  font-size: 2.875rem;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: var(--text-white);
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: var(--text-white);
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--text-black);
  font-family: var(--secondary-font);
}
h5 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--primary-text);
  margin-bottom: 0.9375rem;
  font-family: var(--secondary-font);
}
h6 {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--text-black);
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

p {
  font-size: 1rem;
  color: var(--text-gray);
  line-height: 1.625rem;
}

.card {
  border-radius: 0.625rem;
  background-color: var(--bg-white);
  box-shadow: 0.5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 /8%);
  padding: 3.75rem 1rem 3.6875rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 0;
}

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.125rem);
    transform: translateY(1.125rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ! Navbar Design */

.navigation-wrapper {
  padding: 0.9375rem 0;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navigation-wrapper .navbar-toggler,
.navigation-wrapper .navbar-toggler:focus {
  border: 0;
  box-shadow: none;
  color: var(--text-black);
  line-height: 2;
}

.navigation-wrapper .nav-item {
  margin: 0 0.625rem;
}

.navigation-wrapper .nav-item .nav-link {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--primary-text);
  font-family: var(--secondary-font);
}

.navigation-wrapper .nav-item .nav-link:hover,
.navigation-wrapper .nav-item .nav-link:focus,
.navigation-wrapper .nav-item .nav-link.active {
  color: var(--secondary-color);
}

.navigation-wrapper.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--text-white);
  box-shadow: 0.5084rem 1.1419rem 2.5rem 0 rgb(0 0 0/8%);
  transition: 0.3s ease-in-out;
}

/* ! Top Banner Design  */

.banner-wrapper {
  background: url("../images/top-banner-img/Top-banner.jpg") no-repeat center;
  background-size: cover;
}

.banner-wrapper p {
  max-width: 80%;
  color: var(--text-white);
}

.banner-wrapper .top-right-sec {
  position: relative;
  background: url("../images/top-banner-img/top-right-bg.png") no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.banner-wrapper .animate-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 22;
}

.banner-wrapper .animate-img .anim1 {
  left: -5.6875rem;
  position: absolute;
  -webkit-animation-name: movebounce;
  animation-name: movebounce;
  -webkit-ation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.banner-wrapper .animate-img .anim2 {
  margin-left: 5.5rem;
  -webkit-animation-name: movebounce;
  animation-name: movebounce;
  -webkit-ation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.home .card:hover {
  -webkit-transform: translateY(-0.625rem);
  transform: translateY(-0.625rem);
}

.home .icon-box {
  text-align: center;
  margin: 0 auto 2.5rem;
}

/* ! About Section Design */

.about-wrapper h2 {
  color: var(--text-black);
}

.about-wrapper .card {
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-wrapper .about-clinic {
  flex: 0 0 auto;
  width: 50%;
}

.about-wrapper .about-clinic:nth-child(1),
.about-wrapper .about-clinic:nth-child(2) {
  margin-bottom: 2.8125rem;
}

.about-wrapper .about-clinic:nth-child(2),
.about-wrapper .about-clinic:nth-child(4) {
  padding-left: 3.75rem;
}
.about-wrapper .line-1,
.about-wrapper .line-2 {
  content: "";
  position: absolute;
  background: var(--bg-dark);
  width: 0.0313rem;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-wrapper .line-2 {
  width: 100%;
  height: 0.0625rem;
}
.about-wrapper .about-animate {
  position: absolute;
  left: -2.5rem;
  bottom: 0;
  -webkit-animation: movebounce 3s linear infinite;
  animation: movebounce 3s linear infinite;
}

/* ! Services Section Design */

.services-wrapper {
  background-color: var(--primary-color);
}

.services-wrapper .card {
  background-color: transparent;
  border: 0.0625rem solid var(--bg-light-blue);
  box-shadow: none;
  padding: 2.25rem;
}

.services-wrapper .card:hover {
  background: var(--bg-light-blue);
  cursor: cell;
  border-color: transparent;
}

.services-wrapper .card h4,
.services-wrapper .card p {
  color: var(--text-white);
}

.services-wrapper .icon-box {
  margin-bottom: 1.875rem;
}

/* ! Team Section Design */

.team-wrapper .card {
  padding: 1.25rem;
}
.team-wrapper .card:hover {
  -webkit-transform: translateY(-0.625rem);
  transform: translateY(-0.625rem);
}

.team-wrapper .team-img {
  margin: auto;
}

.team-wrapper .team-info .social-network {
  display: flex;
  padding: 0.625rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
}

.team-wrapper .team-info .social-network li a {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: var(--text-gray);
  margin: 0 0.31225rem;
  font-size: 0.75rem;
  border-radius: 0.3125rem;
  display: block;
  line-height: 1.5625rem;
  color: var(--text-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-wrapper .team-info .social-network li a:hover {
  background-color: var(--secondary-color);
}

/* ! Gallery Section Design */

.gallery-wrapper {
  background: url("../images/gallery/gallery-background.png") no-repeat center;
  background-size: cover;
}

.gallery-wrapper img {
  border-radius: 0.9375rem;
}

/* ! Testimonial Section  */
.testimonial-wrapper .card {
  background-color: rgba(252, 81, 133, 0.05);
}

/* ! Appointment Section Dsesign */
.appointment-wrapper {
  background: url("../images/appointmnet-bg.jpg") no-repeat center;
  background-size: cover;
}

/* ! Blog Section Design  */

.blog-wrapper .blog-content {
  background-color: var(--bg-light-blue);
  padding: 1.5rem;
}

/* ! Footer Section */
.footer-wrapper {
  background-color: var(--primary-color);
  padding-bottom: 0;
}

.footer-wrapper h5 {
  color: var(--bg-white);
}

.footer-wrapper ul li {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
.footer-wrapper ul li a,
.footer-wrapper p {
  color: var(--text-white);
  font-size: 0.875rem;
  padding-left: 1.5rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-wrapper .contact-info ul a {
  padding: 0;
}
.footer-wrapper .social-network a {
  padding: 0;
}

.footer-wrapper .link-widget li a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-wrapper .link-widget li a:hover {
  margin-left: 0.625rem;
  color: var(--secondary-color);
}

.footer-wrapper .social-network a i {
  width: 2.1875rem;
  height: 2.1875rem;
  border: 0.125rem solid var(--bg-light-blue);
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
  color: var(--text-light);
  font-size: 0.875rem;
  margin-right: 1rem;
  --webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);
}

.footer-wrapper .social-network a i:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
  transform: translateY(-0.1875rem);
}

.footer-wrapper ::placeholder {
  color: var(--text-light);
}

.footer-wrapper .form-control {
  color: var(--text-light);
}
.footer-wrapper .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--bg-white);
}

.footer-wrapper .copyright-section {
  background-color: var(--bg-light-blue);
  padding: 2rem 0 1rem;
  text-align: center;
}

.footer-wrapper .copyright-section p {
  font-size: 0.9125rem;
  font-weight: 400;
}
